h1 {
  color: #eee;
  font-size: 55px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.albums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  color: #222831;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.card-id {
  padding-right: 10px;
}

.card button {
  background-color: #76ABAE;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #709699;
}

h1 {
  text-align: center;
}
