<header class="header">
    <div class="header-content">
        <div class="left-nav">
            <a [routerLink]="['/']" class="logo">
                <img src="../assets/logo.png" alt="logo">
            </a>
            <a href="#">Мои резюме</a>
            <a href="#">Отклики</a>
            <a href="#" class="dotted-underline">Помощь</a>
            <a href="#">Компании</a>
        </div>
        <div class="right-nav">
            <a href="#">Профиль</a>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
<footer class="footer">
    &copy; 2024 Yerzhan Rsaliyev. All rights reserved.
</footer>

