.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222831;
  color: #EEEEEE;
  padding: 20px 0;
  text-align: center;
}

.logo {
  margin-left: 24px;
}

.logo img {
  width: 70px;
}

.nav-buttons a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.nav-buttons a:hover {
  text-decoration: underline;
}
