fieldset {
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.main-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}

.left-container {
    margin-right: 120px;
}

.user-info {
    line-height: 2.5;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-info ul {
    margin-left: 15px;
    color: rgb(77, 77, 77);
}

.right-container {
    margin-top: 32px;
}

.company-title {
    margin-bottom: 20px;
}

.new-company-fieldset {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.new-company-fieldset label,
.new-company-fieldset input, 
.new-company-fieldset button {
    margin-right: 20px;
}

.new-company-fieldset label {
    font-weight: bold;
    color: rgb(77, 77, 77);
}

.new-company-fieldset input {
    height: 40px;
    width: 450px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.new-company-fieldset button {
    width: 100px;
    height: 40px;
    background-color: #457aff;
    color: #eee;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.new-company-fieldset button:hover {
    background-color: #2560f5;
}

.company-list li {
    margin-bottom: 60px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    list-style-type: none;
}

.company-name {
    color: #6b8ad8;
    font-weight: bold;
    margin-right: 20px;
    font-size: 23px;
}

.company-name:hover {
    color: #4065c0;
}

.delete-btn {
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: rgb(218, 22, 22);
    color: #eee;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: rgb(200, 37, 37);
}

.update-fieldset {
    margin-top: 30px;
}

.update-fieldset label,
.update-fieldset input, 
.update-fieldset button {
    margin-right: 20px;
}

.update-fieldset label {
    font-style: italic;
}

.update-fieldset input {
    height: 40px;
    width: 300px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.update-btn {
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: rgb(37, 209, 85);
    color: #eee;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn:hover {
    background-color: rgb(39, 182, 80);
}

